html {
  font-size: 16px;
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

header img {
  height: 3rem;
  width: 3rem;
  float: left;
  margin: 0rem 0.7rem 0.8rem 1rem;
}

header h1 {
  font-size: 1.5rem;
  padding-top: 0.5rem;
}

header h1 a {
  color: #343642;
  text-decoration: none;
}

header nav {
  margin-top: -2.3rem;
  margin-right: 1rem;
  margin-left: 60%;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  clear: right;
  display: flex;
  justify-content: space-around;
}

header a {
  text-decoration: none;
}

nav a:link, nav a:visited {
  color: #979C9C;
}

nav a:hover, nav a:active {
  color: #348899;
}

.dropmenu {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

main {
  clear: both;
  margin: 0;
}

.slideshow-container {
  position: relative;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
}

.mySlides img {
  width: 100%;
  height: 60vw;
  max-height: 800px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.mySlides figcaption {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 1.1rem;
  position: absolute;
  margin-top: -6vw;
  width: 90%;
  text-align: center;  
}

.slideshow-container div {
  text-align: center;
}

.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.gridwrap {
  float: left;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.view-class-type {
  width: 33.3%;
  float: left;
}

.find-your-instructor {
  width: 33.4%;
  float: left;
}

.contact-us-today {
  width: 33.3%;
  float: left;
  margin-bottom: 30px;
}

/* for 700px or less */
@media screen and (max-width: 700px) {

	.view-class-type {
      width: 100%;
	}
	
	.find-your-instructor {
      width: 100%;
	}
	
	.contact-us-today {
      width: 100%;
	}

}

.view-class-type, .contact-us-today {
  border: 0;
  background-color: #F2EBC7;
}

.find-your-instructor {
  background-color: #F2E2C7;
}

.gridwrap:after, .instructors:after {
  content: "";
  display: block;
  clear: both;
}

.gridwrap h3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2rem;
}

.gridwrap h3 a {
  color: inherit;
}

.gridwrap p {
  padding-left: 1.5rem;
  padding-right: 1.5rem;  
  padding-bottom: 1rem;
  font-size: 1.1rem;
}

.gridwrap i {
  padding-right: 0.5rem;
  font-size: 1.2rem;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.classes, .private-lessons {
  margin-right: 2rem;
}

.class1, .class3, .lesson2 {
  background-color: #F2EBC7;
  border: 0;
  margin: 0 1rem 1rem 1rem;
}

.class2, .lesson1, .lesson3 {
  background-color: #F2E2C7;
  border: 0;
  margin: 0 1rem 1rem 1rem;
}

button {
  display: block;
}

.btn-default {
  width: 130px;
  height: 30px;  
  margin: 1rem;
  font-size: 0.8rem;
  background-color: white;
  color: black;
  border: 1px solid #979C9C;
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  transition-duration: 0.2s;
}

.btn-default:hover {
  background-color: lightgrey;
  text-decoration: underline;
}

.btn-call-to-action {
  width: 130px;  
  height: 30px;
  margin: 1rem;
  font-size: 0.8rem;
  background-color: #962D3E;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-style: none;
  transition-duration: 0.3s;
}

.btn-call-to-action:hover {
  background-color: darkred;
  text-decoration: underline;
}

img.col-2 {
  width: 15vw;
  min-width: 120px;
  height: 15vw;
  min-height: 120px;
  border: 0;
  padding: 0;
}

div.col-6 {
  border: 0;
  padding: 0 0 1rem 2rem;
}

div.col-4 {
  border: 0;
  padding-top: 1.5rem;
}

@media screen and (max-width: 780px) {

  div.col-4 {
    padding-top: 0;
  }
  
}

.instructor1, .instructor2, .instructor3 {
  min-height: 20vw;
  border: 0;
  margin: 1rem;
  overflow: hidden;
}

.instructor1, .instructor3 {
  background-color: #F2EBC7;
}

.instructor2 {
  background-color: #F2E2C7;
}

.instructors img {
  height: 15vw;
  width: 15vw;
  max-height: 20vw;
  padding: 2rem 0 0 2rem;
}

div.col-10 {
  border: 0;
}

.col-10 h3 {
  padding-left: 2rem;
}

.col-10 p {
  padding-left: 0.5rem;
}

.about-brief {
  clear: both;
  text-align: center;
  color: #979C9C;
  margin: 0 5rem;
  border-top: 1px solid #979C9C;
  border-bottom: 1px solid #979C9C;
  padding-top: 15px;
}

main h2 {
  margin-left: 1.5rem;
  letter-spacing: 2px;
  font-variant: small-caps;
  color: #343642;
}

.about-pages {
  margin-bottom: 2rem;
}

.about-pages p {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  line-height: 1.4rem;
}

.google-map {
  width: 100%;
  height: 50vw;
  max-height: 450px;
  margin-bottom: 30px;
}

.contact-info {
  border: 0;
  background-color: #F2EBC7;
  color: #343642;
  width: 24vw;
  height: 24vw;
  border-radius: 12vw;
  padding: 2.5rem 0 6rem 0;
  text-align: center;
  margin: 1rem 0 3rem 4rem;
}

.contact-info i {
  font-size: 3rem;
}

.contact-info h3 {
  font-size: 1.5rem;
}

.contact-info p {
  line-height: 5px;
  font-size: 1.5vw;
}

/* for 860px or less */
@media screen and (max-width: 860px) {

  .contact-info {
    width: 40vw;
    min-width: 200px;
    max-width: 320px;
    height: 40vw;
    min-height: 200px;
    max-height: 320px;
    border-radius: 200px;
    margin: 1rem 1rem 3rem 6rem;
  }
  
  .contact-info p {
    line-height: 5px;
    font-size: 2.5vw;
  }

}

footer {
  background-color: gainsboro;
  color: #348899;
  clear: both;
  padding: 1rem;
}

footer nav {
  margin-top: 0.5rem;
}

.footer-contact {
  margin-top: -4.5rem;
  float: right;
  line-height: 1.5rem;
}

footer a {
  color: #348899;
  text-decoration: none;
}

.footer-contact i {
  margin-right: 10px;
  width: 10px;
}

